body{
    font-family: sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

.verde{
    color: green;
}

code {
    font-family: monospace;
    color: red;
}

/*ol li.first{
    background-color: white;
    color:black;
}*/

ol li{
    background-color: black;
    color:white;
}
